.drag-and-drop {
  margin: auto;
}

.drag-and-drop tr {
  cursor: move;
}

.drag-icon {
  color: #707070;
  padding: 0 1rem;
  margin: auto;
  cursor: move;
}

.drag-container {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
}

.drag-content {
  border-radius: 4px;
  position: relative;
}

.draggable {
  transition: transform 0.4s ease-in-out;
}

.draggable.isDraggedOver {
  transform: translateX(-24px);
}

.draggable:not(.disabled) .drag-content:hover {
  box-shadow: 0 0 0 1px #c89aff;
}

tr.disabled {
  cursor: not-allowed;
}

tr.disabled .drag-icon {
  pointer-events: none;
}

tr.disabled-highlight .drag-content {
  opacity: 0.6;
  box-shadow: 0 0 0 1px lightgrey;
}
