.card {
  display: flex;
  align-items: center;
  max-width: 425px;
  min-width: 425px;
  width: 100%;
  border-radius: 4px;
  color: #707070;
  background-color: #fff;
  border: 2px solid #fff;
  transition: all 0.2s;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 14px;
}

.card-description {
  font-size: 14px;
}

.card-content {
  width: 100%;
  padding: 1.5rem;
}

.close-icon {
  padding: 5px 9px;
  border-radius: 50%;
  margin: 0 1rem;
  max-width: 30px;
  max-height: 30px;
  background: #efefef;
}
.close-icon svg {
  vertical-align: baseline;
}

.close-icon:hover {
  background-color: #a0a0a0;
}
